body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  background-color: rgba(10, 10, 10, 0.89);
  display: flex;
  justify-content: center;
  padding: 13px;
  height: 5vh;
  align-items: center;
}

.logo .nombre-pagina {
  color: white;
  font-size: 1.8rem;
}

.menu-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80vh;
}

.barra-lateral-izquierda {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: #0c0b0c;
  overflow-y: auto;
}

.barra-lateral-izquierda .titulos-busqueda {
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 70%;
  height: 25vh;
  background-color: rgba(196, 22, 22, 0.438);
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
}

.titulos-busqueda:hover {
    transition: all 0.6s ease-out;
    box-shadow: 0px 4px 8px rgba(194, 74, 19, 0.699);
    top: -5px;  
    background-color: #645c4246;
    color: wheat;
}

.titulos-busqueda h3 {
  font-size: 1.8rem;
  text-align: center;
}

.titulos-busqueda a {
  text-decoration: none;
  color: #0c0b0c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  overflow: auto;
}

#card-aventura {
  display: flex;
  flex-wrap: wrap;
}

#card-accion {
  display: flex;
  flex-wrap: wrap;
}

#card-arcade {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.card:hover {
  height : 320px; 
  top : -2%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0, 0, 0, 0.507);
  transition: all 0.6s ease-out;
  z-index : 1;
}

.card img {
  width: 100%;
  height: 60%;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.card h2 {
  width: 70%;
  font-size: 22px;
  position: absolute;
  top: 150px;
  left: 15%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.507);
}

.card p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 12.3vh;
  background-color: rgba(10, 10, 10, 0.89);
  display: flex;
  justify-content: space-between;
}

.menu-footer {
  margin: auto;
  padding: 10px; 
}

.nav-footer {
  display: flex;
  
}

.nav-footer ul{
  display: flex;
  list-style: none;
}

.nav-footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.item a{
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 1.2rem;
}

.item a:hover {
  position: relative;
  color: chocolate;
  top: -2%;
  transition: all 0.6s ease-out;
}

@media (max-width: 700px) {
  main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
  }

  .barra-lateral-izquierda {
    flex-direction: row;
    width: 100vw;
    height: 100vh; 
    align-items: center;
  }

  .barra-lateral-izquierda .titulos-busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 20px;
    position: relative;
    width: 50%;
    height: 60%;
  }

  .titulos-busqueda h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .card-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: auto;
  }

  .card-container .card {
    width: 100%;
  }

  .item a{
    padding: 10px;
  }
}